@tailwind base;
@tailwind components;
@tailwind utilities;

$bg: #252525;
$black: #1E1E1E;

body {
  background-color: $bg;
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding: 2rem;
}

nav {
  background-color: $black;
}

/* width */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.classic-input {
  background-color: transparent;
  width: 100%;

  &:focus {
    box-shadow: 0 1px white;
    outline: none;
  }
}
